<header class="p-3 bg-dark text-white" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Home</a></li>
                <li><a th:href="@{/feedback}" class="nav-link px-2 text-white">Feedback</a></li>
                <li><a th:href="@{/profile}" class="nav-link px-2 text-white">Profile</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form th:action="@{/}" th:method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input name="search" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end" style="display: flex; justify-content: center; flex-wrap: wrap" th:if="${user == null}">
                <a th:href="@{/shoppingCart}"><button type="button" class="btn btn-outline-light me-2">Корзина</button></a>
                <a th:href="@{/login}"><button type="button" class="btn btn-outline-light me-2">Авторизація</button></a>
                <a th:href="@{/registration}"><button type="button" class="btn btn-warning">Регістрація</button></a>
            </div>
            <div class="text-end" style="display: flex; justify-content: center; flex-wrap: wrap" th:if="${user != null}">
                <a th:href="@{/shoppingCart}"><button type="button" class="btn btn-outline-light me-2">Корзина</button></a>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/adminpanel}"><button type="button" class="btn btn-outline-light me-2">Управління</button></a>
                <a th:href="@{/profile}"><button type="button" class="btn btn-outline-light me-2" th:text="${user.getUsername()}"></button></a>
                <form id="form2" th:action="@{/logout}" method="post"></form>
                <button form="form2" type="submit" class="btn btn-warning">Вихід</button>
            </div>
        </div>
    </div>
</header>