div.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
    color: black;
    font-size: 1.25rem;
}

form.form, label.form, input.form{
    flex: 0 1 50%;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

select.form{
    padding: 5px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

div.adminAddForm{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 4px;
}