div.boxforparent {
    display: flex;
    width: 170px;
    height: 170px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img.boxforchild{
    padding: 0;
    height: 100%;
    margin: 0 auto;
    display: block;
}

h5.clip,p.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a,a:visited{
    color: #080710;
    text-decoration: none;
}