<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a th:href="@{/}" class="header-link" style="margin-left: 60px">BestShopOnline!</a>

        <div style="display: flex">
            <a th:href="@{/}" class="header-link">Категорії</a>
            <a th:href="@{/}" class="header-link">Відгуки</a>
            <a th:href="@{/}" class="header-link">Запитання</a>
        </div>

        <div style="display: flex;">
            <a th:href="@{/}" class="header-link">Авторизація</a>
            <a th:href="@{/}" class="header-link">Регістрація</a>
        </div>
    </div>


    <div class="container" style="margin-top: 60px">

        <div class="form" style="width: 40%">
            <form th:method="post" th:action="@{adminpanel/create}"
                  style="display: flex; flex-direction: column" class="form"
                  enctype="multipart/form-data">
                <label class="form" for="name">Ім'я товару:</label>
                <input class="form" name="name" style="padding: 0" type="text" id="name">
                <label class="form" for="price">Ціна:</label>
                <input class="form" name="price" style="padding: 0" type="text" id="price">
                <label class="form" for="desc">Опис:</label>
                <input class="form" name="desc" style="padding: 0" type="text" id="desc">

                <div class="form" style="padding-top: 10px">
                    <select  th:name="category">
                        <option th:each="productCategory : ${allCategory}" th:text="${productCategory}"></option>
                    </select>
                </div>
                <label class="form" for="image">Фото: </label>
                <input class="form" type="file" name="file" id="image" value="upload" accept="image/png, image/jpeg" />
                <div style="padding-top: 20px"><input style="padding: 5px 11px" type="submit" value="Добавить!"/></div>
            </form>
        </div>


        <div th:each="goods : ${goodsForModal}" style="display: flex; justify-content: start; margin-top: 25px">
            <div class="itemOfGood" th:each="good : ${goods}" >
                <div class="box">
                    <a th:href="@{/{id}(id=${good.getId()})}"><img class="itemOfGood" th:src="*{'data:image/jpeg;base64,'+{good.nameImg}}" /></a>
                </div>
                <div style="padding: 5px 10%">
                    <a th:href="@{/{id}(id=${good.getId()})}"><h1 style="word-wrap: break-word; word-break: break-all " th:text="${good.getName()}"></h1></a>
                    <h2 th:text="'Price: ' +  ${good.getPrice()} + '$'" style="word-wrap: break-word; word-break: break-all"></h2>
                </div>
                <div style="text-align: center;">
                    <form style="display: inline-block;" th:method="DELETE" th:action="@{/adminpanel/{id}(id=${good.getId()})}">
                        <input style="padding: 2px 14px; color:white; background: red" type="submit" value="DELETE"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <a th:href="@{/}" class="footer-link" style="margin-left: 60px">BestShopOnline!</a>
        <div style="display: flex">
            <a th:href="@{/}" class="footer-link">Відгуки</a>
            <a th:href="@{/}" class="footer-link">Запитання</a>
        </div>
        <div style="display: flex;">
            <a th:href="@{/}" class="footer-link">Адміністрація</a>
        </div>
    </div>

</body>
</html>